apiVersion: apps/v1
kind: Deployment
metadata:
  name: oltur-terraform
  labels:
    app: oltur-terraform
spec:
  selector:
    matchLabels:
        app: oltur-terraform
  replicas: 2
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: oltur-terraform
    spec:
      containers:
        - name: oltur-terraform
          image: 916438688338.dkr.ecr.eu-west-1.amazonaws.com/oltur-terraform:latest
          ports:
            - containerPort: 80
              protocol: TCP
          imagePullPolicy: Always
